*{
  font-family: Helvetica;
  font-size:22px;
  color:seashell;
  opacity: 0.9;
  margin:0px;
  padding: 0px;


}

body{
  background-color: black;
}

header {
  width:69px;
  border-bottom:1px solid seashell;
  position:fixed;
  display:flex;
  width:100%;
  flex-direction: row;
  align-items: center;
  z-index: 1;
  justify-content: space-between;
  background-color:black;
}

header h2 span {
  background-color: black;
}

}
.logo{
  padding-right:800px;
}

 .nav {
   padding-right: 30px;
   padding-left: 50px;
}

.main-content{
  display:flex;
  flex-direction: column;
  padding-top: 100px;
  align-items: center;


}



.main-content h2 {
  font-size: 60px;
  background-color: black;

}

.main-content h4 {
  background-color: black;
}

 .mission   {
   background-image: url(https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-4/img-mission-background.jpg);
   background-repeat: no-repeat;
   background-position: center;
   display:flex;
   flex-direction: column;
   text-align: center;
   width: 1200px;
   height: 700px;
   justify-content: center;
   background-color: black;



}



.tea-of-the-month {
  width:1000px;
  display:flex;
  flex-direction:column;
  align-content: space-around;
  justify-content: space-between;
  text-align: center;
  margin: 0 auto;
  flex-wrap: wrap;
}

.tom-heading {
  text-align: center;
  font size:100px;
  margin: 0 auto;
}

.items {
  width:100%;
  display:flex;
  align-items: space-around;
  justify-content: space-around;
  margin: 0 auto;
}



.items img{
    width:300px;
    height:300px;
    text-align: center;
    padding:10px;
    display:inline;
    margin: 0 auto;

 }


 .locations {
 margin-top: 100px;
 display:flex;
 justify-content: ;
 background-image: url(https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-4/img-locations-background.jpg);
 background-repeat: no-repeat;
 background-position: center;
 width: 1200px;
 height:500px;
 flex-direction:column ;
 align-items: center;
 align-content: center ;
 text-align: center;
}



.addresses {
  display:inline-flex;
  width:1200px;
  height:500px;
  align-items: center;
  justify-content:space-around;
  align-content: center;
  margin-top: 15px;


}


.downtown {
  width:300px;
  height:300px;
  margin-right:15px;
  background-color: black;
  margin: auto;
  padding-top: 20px;


}

.downtown p {
  padding: 35px;

}


.eastbayside {
  width:300px;
  height:300px;
  margin-right:15px;
  background-color: black;
  margin: auto;
  padding-top: 20px;

}

.eastbayside p {
  padding:30px;
}

.oakdale {
  width:300px;
  height:300px;
  margin-right:15px;
  background-color: black;
  margin: auto;
  padding-top: 20px;



}
.oakdale p {
  padding: 35px;
}
